/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Source Sans 3', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  .font-heading {
    font-family: var(--font-poppins), 'Poppins', sans-serif;
  }
  .font-body {
    font-family: var(--font-source-sans), 'Source Sans 3', sans-serif;
  }
}
